@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f39849;
  --color-secondary: #8a7460;
  --color-background: #f8f7f6;
  --color-text: #181411;
  --color-highlight: #f39849;
  --color-border: #e6e0db;
  --color-invert: #ffffff;
  --color-darker: #221810;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #f39849;
    --color-secondary: #8a7460;
    --color-background: #221810;
    --color-text: #ffffff;
    --color-highlight: #f39849;
    --color-border: #3d3d3d;
    --color-invert: #221810;
    --color-darker: #000000;
  }
}
